<!DOCTYPE html>

<html>
  <head>
    <title>Golden Book</title>
    <link rel="stylesheet" href="/semantic/semantic.min.css">
  </head>
  <body>
    <h1>Bienvenue sur mon livre d'or</h1>
    <p><%= test %></p>
  </body>
</html>